<div>
    <div>
      <div style="height: 50px;"></div>
    <div class="card container" style="width: 800px;">
    <div class="card-body">
      <form class="container" style="width: 720px;background-clip: border-box;" >
        <label class="m-2">Service</label>
         
          <select class="form-select" aria-label="Default select example"  (click)="orderView()" [(ngModel)]="value" name= "select">
            <option *ngFor="let dataItem of serviceList;let i=index" [value]="i" >{{dataItem.title}}</option>
          </select>
          <h1></h1>
        <label class="m-2">Description</label>
        <div>
          <div class="card">
            <div class="card-body" style="white-space: pre-line;">
              {{values}}
            </div>
          </div>
        </div>
          <h1></h1>
          <label for="exampleFormControlInput1" class="form-label m-2">Link</label>
          <input  class="form-control" id="exampleFormControlInput1" [(ngModel)]="link" name="link">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label m-2">Số lượng view order</label>
            <input class="form-control" id="exampleFormControlInput1" [(ngModel)]="quantity" name="quantity">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label m-2">Keyword</label>
            <input class="form-control" id="exampleFormControlInput1" [(ngModel)]="keyword" name="keyword">
          </div>
          <label class="m-2">Charge</label>
        <div>
          <div class="card">
            <div class="card-body" style="white-space: pre-line;">
              {{quantity*price/1000}}$
            </div>
          </div>
          <br style="height: 10px;">
          <div style="margin-right: 0px;" id="uploadFile" >
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display: none;" name="uploadFile" id="uploadFile">
            <button type="button" class=" label1" (click)="file.click()"  for="uploadFile" >Upload image thumb ---- {{fileImg}}</button>
        </div>
        </div>
          <button type="button" class="btn btn-info m-3" (click)="submitClick()" name="btnSubmit">Submit</button>
          <br style="height: 50px;">
    </form>
    </div>
  </div>
    </div>
  </div>